
body {
  margin: 8em;
  border: 0px;
  background-color: #B7D7D9;
  
}
header {
  width: 100%;
  padding: 20px 0;
  display: flex;
   align-items: center;
  background-color: #F19CA2;
 
 
}
p{

  color: #e4dddd;
  width: 80%;
  margin: 20px;
  border: #e4dddd;
}


.imagen-bienvenida {

  width: 60%;
  margin: 20px;

  background: url(fondopo.jpg);
  border: 1px solid #fcfcfc;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px #fcfcfc);
  border-radius: 35px;
}
#ordenarVista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
}
#informacion {
  display: none;
  display: flex;
  width: 90%;
  border: 1px solid blue;
 
  font-family: 'Quicksand', sans-serif;
}
.cuerpo-tarjetas {
  display: flex;
  color: rgb #038C8C;
  border-radius: 10px 10px 0px 10px;
  border: 3px solid #FFE9CD;
  justify-content: center;
  text-align: center;
  width: 30%;
  margin: 10px 0px 10px 0px;
  background-color:#F8D7D0;
  background-size: contain;

  border: 1px solid #FFE9CD;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px #FFE9CD);
  border-radius: 35px;
  align-items: center;
}

.datosPokemon h1 {
margin-bottom: 0%;
margin-top: 0%;
font-family: 'Quicksand', sans-serif; 
  
}

.datosPokemon h2 {
  margin-bottom: 0%;
  margin-top: 0%;
  font-family: 'Quicksand', sans-serif; 
}


.datosPokemon .tiposPokemon {
  
  flex-direction: column;
  width: 50%;
}

.ordenar-tarjetas {
  display: flex;
  color: #038C8C;
 

  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  grid-auto-rows: minmax(20rem, 50%);
  grid-auto-columns: 33rem;
}

#ocultar {
  display: none;
}
.contenedordetarjeta {
 display: flex;
  flex-wrap: wrap;
  width: 110%;
  /*border: 1px solid blue;*/
  flex-direction: row;
  align-items: stretch;
}

#segundaPantalla {
  display: none;
}
.ordenHorizontal {
 display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin: right 50px; 
  position: absolute;
 background-image: ("");

}

.pieDepagina{
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F19CA2;
  
}
#boton1 {


width: 100px;
height: 30px;
font-family:'Quicksand', sans-serif; 
background: rgba(248, 247, 247, 0.967);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border: 1px solid #e6dfdf;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
border-radius: 35px;

}

#tipos{
  position: center;
width: 100px;
height: 30px;

background: #fbf8fc;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: 'Quicksand', sans-serif;
border: 1px solid #f0e4e4;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
border-radius: 35px;
}



#boton3{
  

width: 100px;
height: 30px;
font-family: 'Quicksand', sans-serif;
background: rgba(241, 227, 227, 0.981);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

border: 1px solid #e4dddd;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
border-radius: 35px;

}
@media screen and ( max-width : 800px ) {
  body {
width: 100%;
  }
  .ordenHorizontal {
    width: 100%;
  }
  .cuerpo-tarjetas {
    width: 80%;
    
  }
  .ordenar-tarjetas{
    grid-auto-rows: minmax(50rem, 50%);
  grid-auto-columns: 50vmax;
  
  }

} 

